*.xml  -text  merge=text diff=text eol=crlf
*.xsd  -text  merge=text diff=text eol=crlf

*.bsl  -text  merge=text diff=text eol=crlf

*.md   text  merge=text diff=text eol=crlf

*.json -text  merge=json diff=text eol=crlf
